<!DOCTYPE HTML>

<html>
	<head>
			<title> Country App Using Express </title>
			<link rel="stylesheet" type="text/css" href="/css/reset.css" />
			<link rel="stylesheet" type="text/css" href="/css/styling.css" />

	</head>
	<body>
			<div class="template">
				<a href="/" class="template-header">
					<h1>Welcome to the Country App Page</h1>
				</a>
			<div class="background"></div>
		  <div class="transbox">
		    <p></p>
		  </div>
		</div>

				<main class="template-main">
					<%- include(page, data) %>

				</main>

	</body>
			</html>
